# Auto detect text files and perform LF normalization
* text=auto

# Improve accuracy of GitHub's Linguist-powered language statistics
gemican/tests/content/* linguist-vendored
gemican/tests/output/* linguist-vendored
samples/* linguist-vendored
